---
// Este es el componente para la sección Bitácora de Navegación
---

<section id="bitacora-navegacion" class="bitacora-navegacion">
  <h1>Bitácora de Navegación</h1>
  <p>Registra tus travesías en el Astillero Digital</p>
</section>
