---
// Este es el componente para la sección Inmersiones Profundas
---

<section id="inmersiones-profundas" class="inmersiones-profundas">
  <h1>Inmersiones Profundas</h1>
  <p>Adéntrate en las profundidades del Astillero Digital</p>
</section>
