---
// Este es el componente para la sección Mapa Náutico Interactivo
---

<section id="mapa-nautico-interactivo" class="mapa-nautico-interactivo">
  <h1>Mapa Náutico Interactivo</h1>
  <p>Explora el mapa interactivo del Astillero Digital</p>
</section>
